# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Node
node_modules
.npm
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
/dist
/.vite

# Environment
.env

# Editor junk
.vscode/
.idea/
*.sublime-*

# Temp/backup files
*~
*.swp

# Misc
notes.txt
/public/images/*
!/public/images/.gitkeep

# SQLite DB
db.sqlite
db.backup.sqlite